[Desktop Entry]
Type=Application
Name=Easy NATS
Exec=easy-nats
Icon=io.github.mcthesw.easy_nats
Categories=Development;Network;
Terminal=false
StartupNotify=true
